<h2 class="text-center mb-4 text-success">Lista Vehicule</h2>

<div class="text-end mb-3">
  <a class="btn btn-success" [routerLink]="['/vehicles/add']">
    <i class="fas fa-plus me-1"></i> Adaugă Vehicul
  </a>
</div>

<div class="row" *ngIf="vehicles.length > 0; else noData">
  <div class="col-md-4 mb-4" *ngFor="let v of vehicles">
    <div class="card shadow-sm h-100 border-success">
      <div class="card-body">
        <h5 class="card-title">
          <i class="bi bi-truck-front-fill me-2"></i>{{ v.licensePlate }}
        </h5>
        <p class="card-text">
          <strong>ID:</strong> {{ v.id }}<br>
          <strong>Model:</strong> {{ v.model }}<br>
          <strong>An fabricație:</strong> {{ v.year }}<br>
          <strong>Disponibil:</strong>
          <span [class.text-success]="v.isAvailable" [class.text-danger]="!v.isAvailable">
            {{ v.isAvailable ? 'Da' : 'Nu' }}
          </span>
        </p>
        

        <div class="d-flex justify-content-end gap-2">
          <button class="btn btn-outline-primary btn-sm" (click)="editVehicle(v.id)">
            <i class="fas fa-edit"></i> Editează
          </button>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteVehicle(v.id)">
            <i class="fas fa-trash-alt"></i> Șterge
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <p class="alert alert-warning text-center">Nu există vehicule înregistrate.</p>
</ng-template>
